<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [80]:
# Import libraries
from numpy.random import seed
from numpy.random import randint

# generate some integers
random_nums = randint(1, 101, 12)
print(f'Random numbers: {random_nums}')
print(f'Decending order: {sorted(random_nums, reverse=True)}')
print(f'Ascending order: {sorted(random_nums, reverse=False)}')
print(f'Average: {sum(random_nums)/len(random_nums)}')

Random numbers: [63 26  4 60 85 97 78 39 30 29  7 10]
Decending order: [97, 85, 78, 63, 60, 39, 30, 29, 26, 10, 7, 4]
Ascending order: [4, 7, 10, 26, 29, 30, 39, 60, 63, 78, 85, 97]
Average: 44.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [87]:
import string
import re
# Your code here
# Point 1
sen_one = input('Enter first sentense')
sen_two = input('Enter second sentense')

sen_one_words = re.findall(r"[\w']+|[.,!?;#@]", sen_one)
sen_two_words = re.findall(r"[\w']+|[.,!?;#@]", sen_two)
# point 2
print(f'The words in the first sentense: {sen_one_words}')
print(f'The words in the second sentense: {sen_two_words}')
# Point 3
if (set(sen_one_words) & set(sen_two_words)):
  print(f'Common words in two sentenses are: {set(sen_one_words) & set(sen_two_words)}')
else:
  print('No common words')

# Point 4
sen_one_rm_puct = sen_one.translate(str.maketrans("", "", string.punctuation))
sen_two_rm_puct = sen_two.translate(str.maketrans("", "", string.punctuation))
print(f'{sen_one} after removing punctuations: {sen_one_rm_puct}')
print(f'{sen_two} after removing punctuations: {sen_two_rm_puct}')

# Count vowels
vowels = 'aeiou'
sen_one_vowels_count = {}
sen_two_vowels_count = {}

for ch in sen_one.lower():
  if ch in vowels:
    if ch not in sen_one_vowels_count:
      sen_one_vowels_count[ch] = 1
    else:
      sen_one_vowels_count[ch] = sen_one_vowels_count[ch] + 1

for ch in sen_two.lower():
  if ch in vowels:
    if ch not in sen_two_vowels_count:
      sen_two_vowels_count[ch] = 1
    else:
      sen_two_vowels_count[ch] = sen_two_vowels_count[ch] + 1

print(f'Number of vowels in {sen_one} are: {sen_one_vowels_count}')
print(f'Number of vowels in {sen_two} are: {sen_two_vowels_count}')

Enter first sentenseAlas! Am I alive? This is my first python program
Enter second sentenseI am testing this function23@ 43 test_me
The words in the first sentense: ['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
The words in the second sentense: ['I', 'am', 'testing', 'this', 'function23', '@', '43', 'test_me']
Common words in two sentenses are: {'I'}
Alas! Am I alive? This is my first python program after removing punctuations: Alas Am I alive This is my first python program
I am testing this function23@ 43 test_me after removing punctuations: I am testing this function23 43 testme
Number of vowels in Alas! Am I alive? This is my first python program are: {'a': 5, 'i': 5, 'e': 1, 'o': 2}
Number of vowels in I am testing this function23@ 43 test_me are: {'i': 4, 'a': 1, 'e': 3, 'u': 1, 'o': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [81]:
# Your code here
import math
print(f'r {" "*5} V')
for r in range(1, 11):
  print(f'{r} {" "*5} {(4/3)* math.pi*(r**3)}')

r       V
1       4.1887902047863905
2       33.510321638291124
3       113.09733552923254
4       268.082573106329
5       523.5987755982989
6       904.7786842338603
7       1436.7550402417319
8       2144.660584850632
9       3053.6280592892786
10       4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [82]:
!pip install pandas
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv"
data = pd.read_csv(url)
print('Data: \n')
print(data)

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Data:

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

#####  Difference in the number of Occupied Housing Units from year to year

In [83]:
occu_housing_units = data[data['title_field'] == 'Occupied Housing Units']
occu_housing_units = occu_housing_units.sort_values(by='year', ascending=True)
occu_housing_units['value_diff'] = occu_housing_units['value'].diff()
diff_years = [ f'{year+1} - {year}' for year in occu_housing_units['year'][:-1]]
diff_occu_housing_units_by_year = pd.DataFrame({ "diff_years" : diff_years, 'value_diff': occu_housing_units['value_diff'][1:] }).sort_values(by='value_diff', ascending=True)
diff_occu_housing_units_by_year

     diff_years  value_diff
17  2009 - 2008      -795.0
11  2011 - 2010      -303.0
8   2012 - 2011      1404.0
5   2013 - 2012      1565.0
2   2014 - 2013      2622.0
14  2010 - 2009      5091.0

##### For all the years, calculate the percentage of housing units which are vacant an occupied

```
Year Vacant Housing Units Occupied Housing Units

2008  30%   70%                          
2009 ----- -----
2010 ----- -----
2011 ----- -----
2012 ----- -----
2013 ----- -----
2014 ----- -----

```

In [84]:

df_house_units = pd.DataFrame({
    'year' : sorted(data['year'].unique())
})
df_house_units['year']
total_units = [data[(data['year'] == year) & (data['title_field'] == 'Total Housing Units')]['value'].values[0] for year in sorted(data['year'].unique())]
vac_house_units = [data[(data['year'] == year) & (data['title_field'] == 'Vacant Housing Units')]['value'].values[0] for year in sorted(data['year'].unique())]
occ_house_units = [data[(data['year'] == year) & (data['title_field'] == 'Occupied Housing Units')]['value'].values[0] for year in sorted(data['year'].unique())]
df_house_units['Total Housing Units'] = total_units
df_house_units['Vacant Housing Units'] = vac_house_units
df_house_units['Occupied Housing Units'] = occ_house_units
df_house_units['per vacant housing units'] = (df_house_units['Vacant Housing Units'] / df_house_units['Total Housing Units'])*100
df_house_units['per Occupied housing units'] = (df_house_units['Occupied Housing Units'] / df_house_units['Total Housing Units'])*100
df_house_units['per vacant housing units'] = df_house_units['per vacant housing units'].astype(str) + '%'
df_house_units['per Occupied housing units'] = df_house_units['per Occupied housing units'].astype(str) + '%'
df_house_units[['year', 'per Occupied housing units', 'per vacant housing units']].rename(columns={'per vacant housing units': 'Vacant Housing Units', 'per Occupied housing units' : 'Occupied Housing Units'})

   year Occupied Housing Units Vacant Housing Units
0  2008     89.11734718648347%   10.88265281351653%
1  2009     90.92888427555128%    9.07111572444872%
2  2010     91.85744366291833%   8.142556337081672%
3  2011      90.6204777701093%   9.379522229890688%
4  2012     93.32239976950866%   6.677600230491346%
5  2013     91.19821249582358%   8.801787504176412%
6  2014     94.26988942963611%   5.730110570363885%

####  Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:


```
                          Year    Value
Vacant Housing Units      -----   -----
Occupied Housing Units    -----   -----
```

In [85]:
max_vacant = df_house_units['Vacant Housing Units'].max()
max_occupied = df_house_units['Occupied Housing Units'].max()
max_vacant_year = df_house_units[df_house_units['Vacant Housing Units'] == max_vacant]['year'].values[0]
max_occupied_year = df_house_units[df_house_units['Occupied Housing Units'] == max_occupied]['year'].values[0]
print(f'{" "*30} Year {" "*5} Value \n')
print(f'Vacant Housing Units {" "*8} {max_vacant_year} {" "*5} {max_vacant}')
print(f'Occupied Housing Units {" "*6} {max_occupied_year} {" "*5} {max_occupied}')

                               Year       Value

Vacant Housing Units          2008       4483
Occupied Housing Units        2014       46295

#### Calculate the harmonic mean of the total housing units and print it out

In [77]:
import statistics
total_housing_units = data[data['title_field'] == 'Total Housing Units']['value'].tolist()
h_mean = statistics.harmonic_mean(total_housing_units)
print(f"The harmonic mean of the total housing units is: {h_mean}")

The harmonic mean of the total housing units is: 44398.28543969185